body{
    background-color: #4b367c;
    
}
#wrapper{
    /* border: 3px solid black; */
    margin: auto;
    width: 60%;
    transition: width 0.2s linear;
}
h1{
    color: #fff;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}
ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li{
    background-color: #0e9bd8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 450;
    font-family: 'Changa', sans-serif;
    margin: 0;
    opacity: 0.5;
    padding: 3px 10px;
    text-align: center;
    letter-spacing: 1px;

} 
#container{
    box-sizing: border-box;
    background-color: #0e9bd8;
    display: flex;
    flex-direction: column;
    font-family: 'Changa', sans-serif;
    height: auto;
    margin-left: -2px;
    width:100%;
}

.active{
    background-color: #0e9bd8;
    opacity:1;
}
.holder{
    box-sizing: border-box;
    border: 2px solid #4b367c;
    display: flex;
    justify-content: space-between;
    height: 80px; 
    text-align: center;
    width: 100%;
}
img{
    border-radius: 40px 40px;
    display: block;
    flex-grow: 1;
    height: 40px;
    padding: 15px;
    max-width: 40px;
}
a{
    color: #fff;
    display:block;
    flex-grow: 2;
    font-family: 'Changa', sans-serif !important;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 10px;
    text-decoration: none;
    width: 30%;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.5s ease;
  }
span{
    color: #fff;
    display: block;
    flex-grow: 3;
    overflow: hidden;
    width: 40%;
    padding: 10px 10px;
}
.hide{
    display: none;
}
@media screen and (max-width: 720px){
    #wrapper{
        width: 70%;
    }
}
@media screen and (max-width: 480px){
    #wrapper{
        width: 80%;
    }
}